{
  "check-coverage": true,
  "lines": 90,
  "statements": 90,
  "functions": 90,
  "branches": 90,
  "reporter": ["lcov", "text"],
  "extension": [".ts"],
  "exclude": ["**/*.d.ts", "**/*.test.js"]
}
