---
version: 2

save: &save
  save_cache:
    key: code-{{ .Revision }}
    paths:
      - .
      # save the git commit and ssh config
      - ".git"
      - "~/.ssh"

restore: &restore
  restore_cache:
    key: code-{{ .Revision }}

jobs:
  node-latest: &test
    docker:
      - image: node:latest
    working_directory: ~/cli
    steps:
      - checkout
      - run: 'sudo yarn global add greenkeeper-lockfile@2'
      - run: 'greenkeeper-lockfile-update'
      - run: 'echo job1 installed greenkeeper-lockfile and ran greenkeeper-lockfile-update'
      - <<: *save
      - restore_cache: &restore_cache
          keys:
            - v1-npm-{{checksum ".circleci/config.yml"}}-{{ checksum "yarn.lock"}}
            - v1-npm-{{checksum ".circleci/config.yml"}}
      - run:
          name: Install dependencies
          command: .circleci/greenkeeper
      - run:
          name: Testing
          command: yarn test
      - run:
          name: Submitting code coverage to codecov
          command: |
            ./node_modules/.bin/nyc report --reporter text-lcov > coverage.lcov
            curl -s https://codecov.io/bash | bash
      - save_cache:
          key: v1-yarn-{{checksum ".circleci/config.yml"}}-{{checksum "yarn.lock"}}
          paths:
            - ~/cli/node_modules
            - /usr/local/share/.cache/yarn
            - /usr/local/share/.config/yarn
      - <<: *restore
      - run: 'sudo yarn global add greenkeeper-lockfile@2'
      # optionally ignore ssh hosts unknown error if you don't want to save ~/.ssh between jobs
      # - run:
          # name: SSH Avoid hosts unknown
          # command: 'mkdir -p ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config'
      - run: 'greenkeeper-lockfile-upload'
      - run: 'echo job3 ran greenkeeper-lockfile-upload'
  node-8:
    <<: *test
    docker:
      - image: node:8

workflows:
  version: 2
  "sfdx-jayree":
    jobs:
      - node-latest
      - node-8
